.benefits {
    background: var(--color-light-grey);
    padding: 100px 0;
}

.benefits .container {
    max-width: 1124px;
}

.benefits-card {
    display: flex;
    background: var(--color-white);
    border: 1px solid var(--color-grey-border);
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 37px;
}

.benefits-card-text {
    max-width: 415px;
    margin: 90px 36px;
}

.benefits-card-text-title {
    text-align: left;
    line-height: 3rem;
}

.benefits-card-text::after {
    display: block;
    content: "";
    width: 327px;
    height: 4px;
    background: var(--color-redish);
    margin-top: 50px;
}

.benefits-card-text-description {
    margin-top: 30px;
    line-height: 1.375rem;
}

.benefits-card-image img {
    position: relative;
    z-index: 2;
    width: 386px;
    height: auto;
}

.benefits-card-image {
    position: relative;
    margin-top: 113px;
    margin-right: 117px;
}

.benefits-card-image::before {
    content: "";
    width: 180px;
    height: 180px;
    background: var(--color-redish);
    display: block;
    border-radius: 40px;
    position: absolute;
    right: 0;
    top: -40px;
    transform: rotate(45deg);
}

.benefits-card:nth-of-type(2) {
    flex-direction: row-reverse;
}

.benefits-card:nth-of-type(2) .benefits-card-text::after {
    background: var(--color-primary);
}

.benefits-card:nth-of-type(2) .benefits-card-image::before {
    background: var(--color-primary);
    border-radius: 50%;
    width: 320px;
    height: 320px;
    right: 28%;
    top: -20px;
}

.benefits-card:nth-of-type(2) .benefits-card-image img {
    width: 426px;
}

.benefits-card:nth-of-type(2) .benefits-card-image {
    margin-top: 0;
    margin-left: 70px;
}

.benefits-double-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.benefits-double-card .benefits-card:first-of-type {
    max-width: 620px;
    flex-grow: 2;
}

.benefits-double-card .benefits-card:nth-of-type(1) .benefits-card-text::after {
    background: var(--color-green);
}


.benefits-double-card .benefits-card:last-of-type {
    flex-grow: 1;
    background: var(--color-green);
    max-width: 440px;
}

.benefits-double-card .benefits-card:last-of-type {
    justify-content: center;
    padding: 0;
}

.benefits-double-card .benefits-card:last-of-type .benefits-card-image {
    padding: 0;
    margin: 0;
}

.benefits-double-card .benefits-card:last-of-type .benefits-card-image img {
    width: 295px;
    height: auto;
}

.benefits-double-card .benefits-card:last-of-type .benefits-card-image::before {
    display: none;
}